<div
  class="container-fluid min-vh-100 d-flex justify-content-center align-items-center"
>
  <div class="row">
    <h1 class="text-center mt-4">Recommended Notices</h1>

    <div class="col col-lg-12">
      @if(recommendedNotices()){ @for(rn of recommendedNotices();track rn.id){
      <div class="row">
        <div class="col col-lg-12">
          <div class="card">
            <div class="card-body text-center">
              <p class="card-text">{{ rn.title }}</p>
              <a class="text-decoration-none" routerLink="/detail/{{ rn.id }}"
                >Ver</a
              >
            </div>
          </div>
        </div>
      </div>
      } }
    </div>
  </div>
</div>
