@if(noticeDetails && noticeStore.stateNotice()){
<div class="container text-center mt-5">
  <div class="card mx-auto" style="max-width: 400px">
    <div class="card-header">{{ noticeDetails.title }}</div>
    <img
      src="{{ noticeDetails.image }}"
      class="card-img-top img-fluid"
      alt="..."
      style="max-width: 300px; height: auto; margin: 0 auto"
    />
    <div class="card-body">
      <p class="card-text">
        {{ noticeDetails.description }}
      </p>
    </div>
  </div>
  <button
    class="btn btn-outline-warning mt-3"
    routerLink="/notices"
    style="width: 200px"
  >
    Back
  </button>
  <app-recommended-notice></app-recommended-notice>
</div>
}
